*{
    padding:0;
    margin:0;
}
body {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin:50px;
}

.section--one{
    background-color: black;
    color:white;
    height:170px;
    padding-left: 20px;
    margin-bottom: 10px;

}
.section--one__name{
    font-size: 50px;
}
.section--one__role{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section--one__contact{
    text-decoration: none;
    background-color: red;
    color:white;
    display: inline-block;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
}
.section--two, .section--three ,.section--four  ,.section--five{
    margin-top: 10px;
}
.section--two__desc, .section--three__desc ,.section--four__desc ,.section--five__desc{
    margin-top: 10px;
}
.section--five{
    background-color: black;
    color: white;
    padding: 10px;

}
.section--five__desc a{
    color: skyblue;
}
.section--three li,.section--four li{
    list-style: none;
}
 .section--three{
    
    background-color: #6462fd;
    color:#000000;
    padding:10px;
    border-radius: 10px;
    display:inline-block;
    height:200px; 
    vertical-align: top; 

}

  .section--four{
    background-color: orangered;
    color:black;
    padding:10px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    vertical-align: top;
    
  }
  .contact-form{
    margin-top: 20px;
  }
  .contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
  }
  .contact-form__input{
    padding: 10px;
    border:none;
    border-bottom:solid black 5px ;
  }
  .contact-form__textarea{
    padding: 10px;
    border:none;
    border:solid black 5px ;
  }
 .contact-form__submit{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right:10px ;
    background-color: orangered;
    color: black;
    border: none;
 }
       

